@import 'reset.css';
@import 'text.css';
@import 'print.css';

/* `Basic HTML
----------------------------------------------------------------------------------------------------*/

body {

    color: #333;
    background-color: #999999;
    background-image:  url(../images/background.png);
}

h1 {
    /*    background: #eee url(../images/h1.png) no-repeat right center;*/
    background-color: #EEEEEE;
    border-bottom: 1px solid #ccc;
    padding: 10px 90px 10px 15px;
    text-shadow: #fff 0 1px 0;
    font-family: th_niramit_asbold;



}

h2,
h3,
h4,
h5,
h6 {
    line-height: 1;
    font-family: thai_sans_literegular;
    /*    font-family: 'TH Niramit AS Bold';*/
}

small {
    font-size: 11px;
}
.error{
    color: red;
}

/* `Misc Classes
----------------------------------------------------------------------------------------------------*/

.align_center {
    text-align: center;
}

.align_right {
    text-align: right;
}

/* `Data Table
----------------------------------------------------------------------------------------------------*/

.data,
.data th,
.data td {
    border-style: solid;
    border-color: #ddd;

}
.data th{
    font-weight: bold;
}

.data {
    border-width: 0 1px 1px;
    width: 100%;
}

.data caption {
    padding: 0 10px 5px;
    text-transform: uppercase;
}

.data th,.data td {
    border-width: 1px 1px 1px;
    padding: 5px 10px;


}

.data th {
    white-space: nowrap;
    background-color: #79BBFF;
    color: #ffffff;
}

.data thead th {
    background: #eee;
    font-weight: bold;
    text-shadow: #fff 0 1px 0;
    color: #45484F;
}

.data tbody th {
    width: 1px;
}
.data tfoot{
    font-weight: bold;
}



/* `Code
----------------------------------------------------------------------------------------------------*/

pre,
code {
    font-size: 12px;
    font-family: Menlo, Courier, monospace;
}

pre,
.notice {
    background: #ffe;
    border: 1px solid;
    border-color: #eed #ccb #bba #ddc;
    overflow: auto;
    padding: 10px 0 10px 10px;
}

* html pre {
    overflow: hidden;
    width: 97%;
}

code {
    background: #ff9;
    padding: 0 2px;
}

/* Layout 
--------------------------------------------------------------------------------*/


#nav-wraper{

    height: 125px;
    /*    background-color: ;*/
    background-image: url(../images/top-bg.png);
    background-repeat: repeat-x;

    /*    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);*/


}
#main-wrapper{
    padding-top: 0px;
    background-color: #F7F7F7;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 1px #888;
    padding-bottom: 10px;
    margin-bottom: 10px;

}
.top_10{
    margin-top: 10px;
}
#footer-wrapper{
    color: #ffffff;
    width: 100%;
    padding: 0;
    overflow: hidden;
    background-color: #72B80D;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
    padding-top: 40px;
    padding-bottom: 50px;
    min-height: 10px;

}
#footer-wrapper a{
    color: #ffffff;
    text-decoration: none;
}
#footer-wrapper a:hover{
    color: #ffffff;
    text-decoration: underline;
}


.social-alphabet a{
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    font-size: 5em;
    display: inline-block;
    /*    background-color: #0134c5;*/
    margin: 10px 20px;
    text-decoration:none;
}
.social-alphabet a:hover{

    color: #72B80D;
    background-color: white;
}
/*alignment*/
.to-right{
    float: right;
}

.top-bar-logo{
    height: 118px;
    /*    background-color: white;*/
    width: 150px;
    display: inline;
    float: left;

    margin-left: 10px;
    margin-right: 10px;
    line-height: 50px;
    text-align: center;


}
.top-bar-logo img{

}
.top-bar-logo img:hover{
    opacity:0.9;
}
.top-bar-title{
    margin-top: 25px;
    font-size: 35px;
    line-height: 35px;
    font-family: thai_sans_literegular;
    font-weight: bold;
    text-shadow: 2px 2px #EEEEEE;
    
}
.top-bar-nav{

}
.top-bar-login{

}

/* TOP MENU 
----------------------------------------------------------------------------------------------------*/
#head_wrapper{
    background-color: #FFCA82;
    border-radius: 0px 0px 9px 9px;
/*    background-image:     url(../images/bg-head.jpg);*/
    background-image:     url(../images/bg-head-blue.jpg);
    
}
#top-display-name{
    background-color: #6EAC2C;
    margin-right: 10px;
    height: 40px;
    list-style:none;
    margin:0;
    border: 0px inset #015b86;
    line-height: 50px;
    text-align: center;
    border-radius: 0px 0px 8px 8px;
    padding-left: 10px;
    
}
.top-menu {
    margin:0;
    margin-left: 15px;
    background-color: #029FEB;
    height: 50px;
    list-style:none;

    border: 0px inset #015b86;
    line-height: 50px;
    text-align: center;
    border-radius: 0px 0px 8px 8px;
}


.top-menu li {
    float:left;
    display:block;
    text-align:center;
    position:relative;
    padding: 0;
    margin-right:0px;
    margin-top:0px;
    margin-left: 0px;
    border:none;
}

.top-menu li:hover {
    padding: 0;


    border-radius: 0px 0px 8px 8px;

    background-color: #8CB82B;



}

.top-menu li a {
    font-family:Arial, Helvetica, sans-serif;
    font-size:16px; 
    color: #FFFFFF;
    display:block;
    outline:0;
    text-decoration:none;
    /*    text-shadow: 1px 1px 1px #000;*/
}

.top-menu li:hover a {
    color: #FFFFFF;
    /*    text-shadow: 1px 1px 1px #999999;*/

}
.top-menu li .drop {
    margin-left: 13px;
    margin-right: 13px;
    /*    background:url("i/drop.png") no-repeat right 8px;*/
}
.top-menu li:hover .drop {
    /*    background:url("img/drop.png") no-repeat right 7px;*/
}

.dropdown_1column, 
.dropdown_2columns, 
.dropdown_3columns, 
.dropdown_4columns,
.dropdown_5columns {
    margin:0px auto;
    float:left;
    position:absolute;
    left:-999em; /* Hides the drop down */
    text-align:left;
    padding:0px 0px 0px 0px;
    border-width: 0 1px 1px 1px;
    border:1px solid #999999;
    border-top:none;

    /* Gradient background */
    background:#F4F4F4;

    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.3);
    z-index: 1000;

}


.dropdown_1column {width: 130px;}
.dropdown_2columns {width: 250px;}
.dropdown_3columns {width: 420px;}
.dropdown_4columns {width: 560px;}
.dropdown_5columns {width: 700px;}

.top-menu li:hover .dropdown_1column, 
.top-menu li:hover .dropdown_2columns, 
.top-menu li:hover .dropdown_3columns,
.top-menu li:hover .dropdown_4columns,
.top-menu li:hover .dropdown_5columns {
    left:0px;

}


.col_1,
.col_2,
.col_3,
.col_4,
.col_5 {
    display:inline;
    float: left;
    position: relative;
    margin-left: 0px;
    margin-right: 0px;
}
.col_1 {width:130px;}
.col_2 {width:270px;}
.col_3 {width:410px;}
.col_4 {width:550px;}
.col_5 {width:690px;}

.top-menu .menu_right {
    float:right;
    margin-right:0px;
}
.top-menu li .align_right {


}

.top-menu li:hover .align_right {
    left:auto;
    right:-1px;
    top:auto;
}

.top-menu p, .top-menu h2, .top-menu h3, .top-menu ul li {
    font-family: Tahoma,Arial, Helvetica, sans-serif;
    line-height:21px;
    font-size:12px;
    text-align:left;
    text-shadow: 1px 1px 1px #FFFFFF;
}
.top-menu h2 {
    font-size:21px;
    font-weight:400;
    letter-spacing:-1px;
    margin:7px 0 14px 0;
    padding-bottom:14px;
    border-bottom:1px solid #666666;
}
.top-menu h3 {
    font-size:18px;

    color: #000;
    /*    background-color: #79BBFF;*/
    margin:7px 0 4px 0;
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom:7px;
    border-bottom:2px solid #888888;
    width: 240px;
    display: block;
}
.top-menu p {
    line-height:18px;
    margin:0 0 10px 0;
}

.top-menu li:hover div a {
    font-size:14px;
    color:#015b86;
    text-shadow: none;
    border-bottom: inset 1px #06c;
    padding: 5px;
}
.top-menu li:hover div a:hover {
    color:#06c;
    background-color: #ffffff;
    border-bottom: solid 2px #72B80D;
    display: block;

}


.strong {
    font-weight:bold;
}
.italic {
    font-style:italic;
}

.imgshadow { /* Better style on light background */
    background:#FFFFFF;
    padding:4px;
    border:1px solid #777777;
    margin-top:5px;

}
.img_left { /* Image sticks to the left */
    width:auto;
    float:left;
    margin:5px 15px 5px 5px;
}



/*.top-menu li .black_box {
    background-color:#333333;
    color: #eeeeee;
    text-shadow: 1px 1px 1px #000;
    padding:4px 6px 4px 6px;
}*/

.top-menu li ul {
    list-style:none;
    padding:0;
    margin:0 0 -5px 0;
}
.top-menu li ul li {
    font-size:12px;
    line-height:18px;
    position:relative;
    text-shadow: 1px 1px 1px #ffffff;
    padding:0;
    margin:0;
    float:none;
    text-align:left;
    width:250px;
}
.top-menu .dropdown_1column li  {
    width:130px;
}
.top-menu .dropdown_2columns li  {
    width:250px;
}
.top-menu .dropdown_1column h3  {
    width: 125px;
}
.top-menu .dropdown_2columns h3  {
    width: 245px;
}
.top-menu li ul li:hover {
    background:none;
    border:none;
    padding:0;
    margin:0;
}

/*.top-menu li .greybox li {
    background:#F4F4F4;
    border:1px solid #bbbbbb;
    margin:0px 0px 4px 0px;
    padding:4px 6px 4px 6px;
    width:116px;

     Rounded Corners 
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}
.top-menu li .greybox li:hover {
    background:#ffffff;
    border:1px solid #aaaaaa;
    padding:4px 6px 4px 6px;
    margin:0px 0px 4px 0px;
}*/
/* Form --------------------------------------------------------------------------*/
.input[type="button"], input[type="submit"], .btn-a {
    background-color:#9dce2c;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    border:1px solid #83c41a;
    display:inline-block;
    color:#ffffff;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 12px;
    text-decoration:none;
    margin-right: 5px;

}

.flexigrid a{
    background-color:#9dce2c;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    border:1px solid #83c41a;
    display:inline-block;
    color:#ffffff;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 12px;
    text-decoration:none;
    margin-bottom: 2px;
}
.btn-a-small,.flexigrid a{
    background-color:#9dce2c;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    border:1px solid #83c41a;
    display:inline-block;
    color:#ffffff;
    font-family:arial;
    font-weight:bold;
    text-decoration:none;
    font-size:12px !important;
    padding:0px 5px !important;
    margin-right: 5px;
}
.input[type="button"]:hover, input[type="submit"]:hover, .btn-a:hover,.btn-a-small:hover {
    background-color:#8cb82b;
}
.input[type="button"]:active, input[type="submit"]:active, .btn-a:active,.btn-a-small:active {
    position:relative;
    top:1px;
}
.input[type="button"]:disabled, input[type="submit"]:disabled, .btn-a:disabled,.btn-a-small:disabled {
    background-color:#EEEEEE;
    border: solid 1px #CCCCCC;
}
.flexigrid .error{
    color: red;
    font-weight: bold;
}
.flexigrid .warning{
    color: #999900;
    font-weight: bold;
}
.flexigrid_wrap .flexigrid div.bDiv td {
    white-space: pre-wrap!important;
}

/* Normal Form ------------------------------------------------------------------ */

.normal-form fieldset{
    border: solid 1px #DBDBDB;
    padding: 10px;
    margin-top: 10px;
}
.normal-form legend{
    margin-left: 20px;
    padding: 0 5px 0 5px;
    display: block;

}
.normal-form label{
    width: 145px;
    margin-right: 5px;
    display: inline-block;
    text-align: right;
    font-weight: bold;
    vertical-align: top;
}
.normal-form input[type=text],    .normal-form input[type=password]{
    border:solid 1px #DBDBDB;
    padding: 3px;
    width: 200px;
}
.normal-form textarea{
    border:solid 1px #DBDBDB;
    padding: 3px;
    width: 200px;
}
.normal-form .full-width{
    width: 100%;
    min-height: 400px;
}
.normal-form select{
    border:solid 1px #DBDBDB;
    padding: 3px;
    width: 208px;
}
.form-error{
    color: red;
    padding-left: 20px;
    margin-bottom: 2px;
}
/* table ------------------------------------------------------------------------*/
.normal-table{

}
.normal-table th{
    border:solid 1px #DBDBDB;
    padding: 5px;
}
.normal-table td{
    border:solid 1px #DBDBDB;
    padding: 5px;
}
.normal-table{

}
/* top login form -------------------------------------------------------------- */
#top-login-form label{
    width: 55px;
    margin-right: 5px;
    display: inline-block;
    text-align: right;
    font-weight: bold;
}
#top-login-form input[type=text],#top-login-form input[type=password]{
    border:solid 1px #DBDBDB;
    padding: 3px;
    width: 190px;
}

/* flex grid  -------------------------------------------------------------- */
.flexigrid{
    margin-bottom: 5px;margin-top: 5px
}
/*.flexigrid a{
    background-color:#9dce2c;
    border:0px solid #83c41a;
    display:inline-block;
    color:#ffffff;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
}
.flexigrid a:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77a809), color-stop(1, #89c403) );
    background:-moz-linear-gradient( center top, #77a809 5%, #89c403 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77a809', endColorstr='#89c403');
    background-color:#77a809;
}.flexigrid a:active {
    position:relative;
    top:1px;
}*/





.head1 {
    background-color:#79bbff;
    /*    border:1px solid #337bc4;*/
    display:block;
    color:#ffffff;
    font-size:21px;
    font-weight:bold;
    padding:6px 12px;
    text-decoration:none;
    margin-bottom: 10px;
}

/* form buttom */
.btn-help {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #89c403), color-stop(1, #77a809) );
    background:-moz-linear-gradient( center top, #89c403 5%, #77a809 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403', endColorstr='#77a809');
    background-color:#89c403;
    border:1px solid #74b807;
    display:inline-block;
    color:#ffffff;
    font-family:arial;
    font-size:11px;
    font-weight:bold;
    padding:0px 4px;
    text-decoration:none;
}.btn-help:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77a809), color-stop(1, #89c403) );
    background:-moz-linear-gradient( center top, #77a809 5%, #89c403 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77a809', endColorstr='#89c403');
    background-color:#77a809;
}.btn-help:active {
    position:relative;
    top:1px;
}


.side-nav li{
    margin-left: 0px;
    margin-bottom: 3px;
    /*    border-bottom: solid #E0E0E0 1px;
        border-top: solid #ffffff 1px;
        border-right: solid #E0E0E0 1px;
        border-left: solid #E0E0E0 1px;*/
}
.side-nav .active-link{
    background-color: #79BBFF;
    color: #ffffff;
    padding: 5px 10px;
    display: block;
    font-weight: bold;
}
.side-nav .non-active-link{
    background-color: #EEEEEE;
    padding: 5px 10px;
    display: block;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}
.side-nav .non-active-link:hover{
    background-color: #8FC6FC;
    color: #ffffff;

}
a{
    text-decoration: none;
    color: #3B59BA;
}
a:hover{
    text-decoration: underline;
}
/* message */
.messages{

    padding: 5px;
    border-radius: 2px;
    display: block;

}
.messages.warning{
    background-color: #FFFCE5;
    border: solid 1px #EEDD55;
    color: #884400;
}
.messages.error{
    background-color: #FEF5F1;
    border: solid 1px #ED541D;
    color: #8C2E0B;
}
.messages.detail{
    background-color: white;
    border: 1px solid #CCCCCC;
    color: #1B1B1C;
}

/* top search */
#btn-top-search-submit{
    background-color: #FAFAFA;
    border: 0 none;
    border-radius: 0 2px 2px 0;
    color: black;
    cursor: pointer;
    float: left;
    height: 26px;
    margin: 10px 5px 0 0px;
    outline: 0 none;
    width: 35px;
    height: 30px;
    background-image: url(../images/magnifying-glass.png);
    background-position:right; 
    background-repeat: no-repeat;

}

#btn-top-search-submit:active{
    top: 0px;

    background-position: 1px 0; 
}
#top-search input[type="text"]{
    height: 26px;
    line-height: 30px;
    position: relative;
    margin: 10px 0px 0 0px;
    width: 330px;
    color: #4A4A4A;
    border: none;
    font-size: 18px;
    padding: 2px 4px;
    border-radius:  2px 0 0 2px;
    display: block;
    border-right: solid 1px  #CCCCCC;
    float: left;

}

/* tool tip */
.ui-tooltip, .arrow:after {
    background: #72B80D  !important;
    border: 2px solid white !important;

}
.ui-tooltip {
    padding: 10px 20px !important;
    color: white !important;
    border-radius: 20px !important;
    font: bold 14px "Helvetica Neue", Sans-Serif !important;
    text-transform: uppercase !important;
    box-shadow: 0 0 7px black !important;

}
.arrow {
    width: 70px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: -16px;
}
.arrow.top {
    top: -16px;
    bottom: auto;
}
.arrow.left {
    left: 20%;
}
.arrow:after {
    content: "";
    position: absolute;
    left: 20px;
    top: -20px;
    width: 25px;
    height: 25px;
    box-shadow: 6px 5px 9px -9px black;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    tranform: rotate(45deg);
}
.arrow.top:after {
    bottom: -20px;
    top: auto;
}

/*------ Login Form --------------*/
#front-login-form-wrapper{
    /*        border: 1px solid #CCCCCC;*/
    padding: 5px;
    margin-bottom: 10px;
    height: 190px;
    background: linear-gradient(to bottom,  rgba(224,243,250,1) 0%,rgba(216,240,252,1) 50%,rgba(184,226,246,1) 51%,rgba(182,223,253,1) 100%); /* W3C */
}
